      - name: Configurar .env para test
        run: |
          echo "DB_CONNECTION=mysql" >> .env
          echo "DB_HOST=127.0.0.1" >> .env
          echo "DB_PORT=3306" >> .env
          echo "DB_DATABASE=grocery_store_test" >> .env
          echo "DB_USERNAME=root" >> .env
          echo "DB_PASSWORD=root" >> .env
      - run: php artisan config:clear
      - name: Verificar .env
        run: cat .env | grep DB_
      - run: php artisan test